.parent_div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex_parent {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

.aside{
    background-color:aqua;
}

.aside_content {
    width: 100%;
    height: 50%;
}

.content_container{
    width: 75%;
    height: 75%;
    background-color: rgb(61, 44, 23);
    order: 2;
}

.menu{
    background-color: rgb(119, 29, 107);
    order: 2;
    width: 25%;
    height: 75%;
}

.header{
    background-color: bisque;
    width: 100%;
    height: 25%;
}

.article{
    background-color: aquamarine;
    width: 67%;
    height: 67%;
}

.section_left{
    background-color:aliceblue;
    width: 33%;
    height: 67%;

}

.content{
    background-color: tomato;
    width: 67%;
    height: 67%;
}

.footer{
    background-color: brown;
    width: 100%;
    height: 33%;
}