:root {
    --bar-height: 90px;
    --content-height: calc(100% - (var(--bar-height)));

    --menu-width: 180px;
    --content-width: calc(100% - (var(--menu-width)));
}


.fade {
    background-color: #DB1F48;
    color: #fff;
    transition: background-color 1s;
}

.fade:hover {
    background-color: #004369;
}

p {
    margin: 10px;
}

h4{
    margin: 10px;
    background-color: white;
    width: 150px;
    height: 30px;
    vertical-align: bottom;
}

#y {
    align-self: flex-start;
    text-align: right;
}

.parent_div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex_parent {
    display: flex;  
    flex-flow: row wrap;
}

.flex_aling {
    display: flex;  
    justify-content: space-between;
}

.flex_center {
    display: flex;  
    align-items:center;
}

.content_container{
    width: var(--content-width);
    height: var(--content-height);
    order: 2;
}

.aside{
    justify-content: left;
    background-color:aqua;
}

.aside_content {
    width: 100%;
    height: 50%;
}

.aside_menu{
    justify-content: right;
    background-color: rgb(119, 29, 107);
    order: 2;
    width: var(--menu-width);
    height: var(--content-height);
}

.header{
    background-color: bisque;
    width: 100%;
    height: var(--bar-height);
}

.section_left{
    width: 33%;
    height: var(--content-height);
}

.page_content{
    justify-content: center;
    background-color: tomato;
    width: 67%;
    height: var(--content-height);
}

.footer{
    /* justify-content: right; */
    background-color: brown;
    width: 100%;
    height: var(--bar-height);
}