:root {
    --menu-option-padding-top: 20px;
    --menu-option-padding-left: 10px;

}

.cell_content {
    width: 100%;
    height: 100%;
}

.page_table {
    width: 100%;
    height: 100%;
}

table, th, td {
    border-collapse: collapse;
}

ul, ol {
    margin-bottom: 0px;
}

.fade {
    transition: background-color 0.5s;
}
.fade:hover {
    background-color: #0079be;
}

p {
    margin: 10px;
    display: inline-block;
}

h4{
    margin: 10px;
    background-color: white;
    width: 150px;
    height: 30px;
    vertical-align: bottom;

    display: inline-block;
}

h5 {
    font-size: 1rem;
    margin: 10px;
    margin-top: 0px;
    padding-top: 10px;
}

.parent_div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    min-width: 1000px;
    min-height: 800px;
}


 
.aside{
    padding: auto;
}

.aside_content {
    width: 100%;
    height: 50%;

    font-size: 0.85rem;
}

.aside_cell {
    background-color:aqua;
    width: 25%;
    height: 50%;
}



.menu_option  {
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
  }

.menu_wraper_div{
    position: relative;

    width: 100%;
    height: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: solid rgb(102, 24, 92);top: 5px;
    background-color: rgb(119, 29, 107);
    box-shadow: none;
    color: white;
}
  
.menu_wraper_div:hover {
  top: 0px;
  background-color: rgb(102, 24, 92);
  box-shadow: 0 5px 0 rgb(70, 17, 63);
}
  
.menu_wraper_div:active {
  box-shadow: none;
  top: 5px;
}

.menu_table{
    width: 100%;

    margin: 0 auto;

    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu_cell{
    background-color: rgb(119, 29, 107);
    width: 25%;
    height: 75%;
    
}




.content_cell{
    background-color: tomato;
    height: 50%;
    width: 50%;
}

.page_content{
    height: auto;
    text-align: center;
}




.footer_cell{
    background-color: brown;
    width: 75%;
    height: 25%;
    
    position: relative;
}

.footer {
    position: relative;
}

#footer_text{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}



.header_cell{
    background-color: bisque;
    width: 100%;
    height: 25%;
}

.header {
    position: relative;
}

#header_text{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}




#x {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}

#y {
    text-align: right;
}