:root {
    /* --bar-height: 90px; */
    --bar-height: 25%;
    --content-height: calc(100% - (var(--bar-height)));

    /* --menu-width: 180px; */
    --menu-width: 25%;
    --content-width: calc(100% - (var(--menu-width)));

    --menu-option-padding-top: 20px;
    --menu-option-padding-left: 10px;

}


.fade {
    transition: background-color 0.5s;
}
.fade:hover {
    background-color: #0079be;
}

.menu_option  {
    top: 5px;
    background-color: rgb(119, 29, 107);
    box-shadow: none;
    color: white;
    padding: var(--menu-option-padding-top) var(--menu-option-padding-left);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    border-bottom: solid rgb(102, 24, 92);
  }
  
  .menu_option:hover {
    top: 0px;
    background-color: rgb(102, 24, 92);
    box-shadow: 0 5px 0 rgb(70, 17, 63);
  }
  
  .menu_option:active {
    box-shadow: none;
    top: 5px;
  }

p {
    margin: 10px;
}

h4{
    margin: 10px;
    background-color: white;
    width: 150px;
    height: 30px;
    vertical-align: bottom;
}

h5 {
    font-size: 1rem;
}

#y {
    align-self: flex-start;
    text-align: right;
}

.parent_div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    min-width: 1000px;
    min-height: 800px;
}

img {
    width: 500px;
}

.flex_parent {
    display: flex;  
    flex-flow: row wrap;
}

.flex_aling {
    display: flex;  
    justify-content: space-between;
}

.flex_center {
    display: flex;  
    align-items:center;
}

.content_container{
    width: 75%;
    height: 75%;
    order: 2;
}
 
.aside{
    justify-content: left;
    background-color:aqua;
}

.aside_content {
    width: 100%;
    height: 50%;

    font-size: 0.85rem;

    flex-direction: column;
}

.aside_menu{
    background-color: rgb(119, 29, 107);
    order: 2;
    width: 25%;
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header{
    background-color: bisque;
    width: 100%;
    height: 25%;
}

.section_left{
    width: 33%;
    height: 67%;
}

.page_content{
    justify-content: center;
    flex-direction: column;
    background-color: tomato;
    width: 67%;
    height: 67%;
}

.footer{
    background-color: brown;
    width: 100%;
    height: 33%;
}